{% extends "learning_logs/base.html" %}

{% block header %}
  <h2>Edit entry:</h2>
{% endblock header %}

{% block content %}

  <p><a href="{% url 'topic' topic.id %}">{{ topic }}</a></p>

  <form action="{% url 'edit_entry' entry.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" class="btn btn-primary">save changes</button>
  </form>

{% endblock content %}
