{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Add a new entry:</h2>
{% endblock header %}

{% block content %}
  <p><a href="{% url 'topic' topic.id %}">{{ topic }}</a></p>

  <form action="{% url 'new_entry' topic.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name='submit' class="btn btn-primary">add entry</button>
  </form>

{% endblock content %}
