{% extends "learning_logs/base.html" %}

{% block header %}
  <h1>Topics</h1>
{% endblock header %}

{% block content %}

  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <p><a href="{% url 'topic' topic.id %}">{{ topic }}</a><font Size="1">made by:</font><font Size="3" color="#ff0000">{{topic.owner}}</font></p>
        </h3>
      </li>
    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>

  <h3><a href="{% url 'new_topic' %}">Add a new topic</a></h3>

{% endblock content %}
